<!DOCTYPE html>
<html>
<head>
  <title>resultat</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>

	</head>
	<body>

	<div class="container">

		<div id="topdiv">
	  		<div id="logo">
	  			<img src="/VKloggaHead.png">
	  		</div>
		</div>

		<div id = "result-question" class ="question">

			<% result = 0 %>
			<% $result_arr.each do |answer| %>
					<% result += answer %>
			<% end %>

			<div id="medal"></div>


			<div id="result-text">
				<h3> Du svarade rätt på <%= result %> av 7 frågor </h3>
			</div>

			<div id="result-dots">
				<div id="res1" class="result-dot"></div>
				<div id="res2" class="result-dot"></div>
				<div id="res3" class="result-dot"></div>
				<div id="res4" class="result-dot"></div>
				<div id="res5" class="result-dot"></div>
				<div id="res6" class="result-dot"></div>
				<div id="res7" class="result-dot"></div>
			</div>

		</div>
      <!--Button to send to startpage. -->
			<%= link_to json_read_startpage_path, {:id => "btn-play-dig", :class => "btn-play-class"} do %>
				<div id="arrow">GÅ VIDARE</div>
				<p>Avsluta spel</p>
			 <% end %>

	<div>

	 	<%= javascript_tag do %>
		  		window.result = "<%=@result %>";
		<% end %>

    <!-- Style dots depending on how many right/wrong answers in the quiz-->
		<script>
			$( document ).ready(function() {

				var resdots = document.getElementsByClassName("result-dot")

				for (var i = 0; i < resdots.length; i++)
					if (result[i] == 1)
						resdots[i].style.backgroundColor = "#4CAF50"
					else
						resdots[i].style.backgroundColor = "#F44336"
			});

		</script>

</body>
</html>
