/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/*Allt tillhörande text och typsnitt*/
@font-face {
    font-family: 'publicoblack';
    src: url('publico-black-webfont.woff2') format('woff2'),
         url('publico-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'publicoroman';
    src: url('publico-roman-webfont.woff2') format('woff2'),
         url('publico-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#star {
	font-size:  0.9em;
}

 h3 {
        font-family: 'publicoblack';
        font-size: 1.5em;

     }
p {
	font-family: helvetica;
	font-size: 1em;
}

a {
	font-family: helvetica;
	font-size: 1em;
}
h1 h2 h3{
	font-family: "Publicoblack", Helvetica, Verdana;
}

#category p {
	color: white;
	text-transform: uppercase;
	text-align: center;
	line-height: 40px;
}

/*Slut text och typsnitt*/


.container {
	background-color: #e2e2e2;
	width: 1024px;
	height: 1000px;
	padding: 0px;
	padding-top: 0px;
	margin-top: 0px;
}


#topdiv{
	height: 80px;
	width: 100%;
	background-color: #007bc4;
	margin-top: 0px;
	padding: 0px;

}

#logo {
	width: 120px;
	height: auto;
	margin: auto;
	padding-top: 25px;
}

#logo img {
	width: 100%;
}

.question {
	width: 600px;
	height: 340px;
	margin: auto;
	margin-top: 7px;
	background-color: white;
	/*JESPER*/
	padding: 5px 10px 0px 10px;
}

#question-text {
	height: 70px;
}

#question-img {
	width: 600px;
	margin: auto;
	height: 230px;
	float: left;
	overflow: hidden;
}

#question-img img {
	width:580px;
    height:auto;
    max-height:200%;
	margin: 0px;
	display: block;
	padding-top: 15px;
	overflow: hidden;
}

.answers {
	margin: auto;
	margin-top: 10px;
	width: 600px;
	padding-bottom: 10px;
}

.answers .btn {
	width: 290px;
	height: 80px;
	border: 0px;
	-webkit-transition-duration: 0.5s;
	box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2), 0 7px 2px 0 rgba(0,0,0,0.05);
	margin: 4px;

}

.padding-btn{
	padding-top: 32px;
}


.btn:hover {
	background-color: #dceaec;
}

#cat-head {
	background-color: #e2e2e2;
	width: 600px;
	height: 40px;
	margin: auto;
	margin-top: 10px;
}

#category {
	background-color: #007bc4;
	width: 170px;
	height: 40px;
	float: left;
}

.progress-dot {
	border-radius: 50%;
	height: 20px;
	width: 20px;
	display: block;
	float: right;
	margin-top: 10px;
	background-color: white;
	margin-left: 20px;
}

#ans7 {

}

#ans6 {

}

.p-answer {
	display: inline-block;
}

/*Start StartPage*/
#startpage {
	width: 600px;
	height: 700px;
	margin: auto;
	background-color: white;
}


.btn-startpage {
	width: 550px;
	height: 80px;
	border: 0px;
	-webkit-transition-duration: 0.5s;
	box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2), 0 7px 2px 0 rgba(0,0,0,0.05);
	padding-top: 32px;
	background-color: white;
}

#play{
	padding: 15px 0 15px 0;
	background-color: #e2e2e2;
}

.btn-play-class {
	width: 600px;
	height: 70px;
	margin: auto;
	margin-top: 15px;
	border: 0px;
	display: block;
	padding: 0 0 0 0;
	background-color: white;
	-webkit-transition-duration: 0.5s;
	box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2), 0 7px 2px 0 rgba(0,0,0,0.05);

}

.btn-play-class p {
	line-height: 70px;
	font-size: 1.3em;

	/*font-size: 20px;*/
	font-style: bold;
}
#btn-play-dig p {
	padding-left: 315px;
}

#arrow {
	width: 200px;
	height: 70px;
	background-color: #e03a22;
	-webkit-clip-path: polygon(0% 0%, 86% 0, 100% 50%, 86% 100%, 0% 100%);
	clip-path: polygon(0% 0%, 86% 0, 100% 50%, 86% 100%, 0% 100%);
	text-align: center;
	color: white;
	/*font-size: 18px;*/
	line-height: 70px;
	float: left;
}

#current-games-head {
	width: 600px;
	height: 60px;
	background-color: #007bc4;
}

#current-games-head h3 {
	text-align: center;
	color: white;
	line-height: 60px;
	margin: 0px;
}

#current-games {
	width: 600px;
	height: 300px;
	background-color: white;
}

.c-game {
	background-color: #dceaec;
	height: 70px;
	width: 580px;
	margin: auto;
	margin-top: 20px;
	padding-top: 8px;
}
.c-game p {
	margin-left: 100px;
}

/*Från maja*/
.answers .btn-after{
	pointer-events: none;
	height: 50px;

	/*box-shadow: 0 0px 0px 0 rgba(0,0,0,0.0), 0 0px 0px 0 rgba(0,0,0,0.00);*/
}
#btn1-after {
	margin: 3px;

}
#btn2-after {
	margin: 3px;
}
#btn3-after {
	margin: 3px;
}
#btn4-after {
	margin: 3px;
}
#btn-corr {
	background-color: #97c9a6;
}

#btn-wrong {
	background-color: #eda6ad;
}

#btn-next-q {
	width: 600px;
	height: 70px;
	display: block;
	margin: auto;
	margin-top: 15px;
	border: 0px;
	padding: 0 0 0 0;
}

#btn-next-q p{
	line-height: 70px;
	font-size: 1.3em;
	/*font-size: 18px;*/
}

.answer-col {
	width: 300px;
	padding: 5px;
}

.summary {
	height: 330px; /*ändrat från 315*/
	width: 250px;
	margin-bottom: 20px;
	position: relative;
	margin: 0px;
	margin-left: 15px;
  	margin-top: 8px;
	float: left;
}

.summary p{
	font-size: 1em;
}
#summary-img {
	width: 250px;
  height: 330px;
	margin: 0px;
  margin-top: 15px;
  margin-left: 40px;
  padding: 0px;
	height: 230px;
  z-index: 10;
  float: left;

}
/*försöker fixa bildhelvetet...*/
#summary-img img {
	width: 100%;
  height: 300px;
  /*max-height:100%;*/
	margin: 0px;
	display: block;
	padding-top: 0px;
	overflow: hidden;
  z-index: 11;
}
#question-answer {
  width: 600px;
  height: 350px;
}

#question-answer h3{
  /*float: left; /*Float, ny margin och fixad width*/
  margin-top: 0px;
  width: auto;
  max-width: 250px;

}

#title {
	width: 250px;
}

#btn-save-aticle{
  position: absolute;
  left: 3px;
  bottom: 18px;;
  z-index: 10;
}

#save-btn {
	width: 115px;
	height: 35px;
	margin: auto;
	margin-top: 10px;
	background-color: #EEE;
	border-color: #e0e0e0;
	/*font-size: 12px;*/
	opacity: 0.6;
}

#save-btn:hover {
	color:  #007bc4;
	opacity: 1;
}

#article-btn{
	width: 115px;
	height: 35px;
	margin: auto;
	margin-top: 10px;

	/*background-color: #007bc4;
	color: white;
	border: 0px;*/

	background-color: #EEE;
	border-color: #e0e0e0;
	opacity: 0.6;

}
#display-answer h3{
	width: 100px; /*ny bredd, färg och margin*/
	height: 30px;
  	color: #007bc4;
  	margin-bottom: 0px;
  	margin-top: 5px;
}
#display-answer{
	width: 250px;
  	float: left;
}

#tagshead{
	background-color: #333;
	height: 30px;
	color: white;
	padding-left: 10px;
	line-height: 30px;
	margin-bottom: 5px;
}

.tag-row {
	height: 25px;
	width: 100%;
	display: inline;
	margin: 3px 0 3px 5px;
	float: left;
}

.tag-row p{
	line-height: 25px;
	float: left;
}

.tag-plus {
	height: 25px;
	width: 25px;
	border-radius: 50%;
	float: left;
	background-color: #007bc4;
	background-image: url("/plus.png");
	background-size: 100%;
	margin: 0 10px 0 0;

}

.tag-plus:hover {
	background-color: #ffffff;
	border: 2px solid #007bc4;
	background-image: url("/plus-blue.png");

}
/*Slut från maja*/

/*result*/

#result-question {
	width: 600px;
	height: 500px;
	margin: auto;
	margin-top: 10px;
	background-color: white;
	padding: 5px 10px 0px 10px;
}

#result-dots{

	width: 490px;
	margin: auto;
}

.result-dot {
	border-radius: 50%;
	height: 50px;
	width: 50px;
	display: inline-block;
	margin: 0 8px 0 8px;
}

#result-text {
	text-align: center;
	margin: 40px 0 50px 0;
	font-size: 1.5em;
}

#btn-finish {
	width: 600px;
	height: 70px;
	display: block;
	margin: auto;
	margin-top: 15px;
	border: 0px;
	padding: 0 0 0 0;
}

#btn-finish p{
	line-height: 70px;
	font-size: 1.3em;

}

#medal {
	width: 150px;
	height: 200px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 80px;
	background-image: url("/MedalVK2.png");
	background-size: 100%;
	background-repeat: no-repeat;
}



/*Responsivt för samtliga*/
@media only screen and (max-width: 1000px){
	.container {
		margin: auto;
		width: auto;
	}
	.body {
		width: 100vw;
	}
}

@media only screen and (max-width: 600px) {

	.container {
		background-color: #e2e2e2;
		width: 100vw;
		height: 100vh;
		padding: 0px;
		padding-top: 0px;
		margin-top: 0px;
	}

	#topdiv {
		width: 100vw;
		height: 10vh;
		background-color: #007bc4;
		margin-top: 0px;
		padding: 0px;
	}

	#logo {
	width: 30vw;
	padding-top: 3vh;
	}


/*Responsivt för index.html.erb*/


	.padding-btn {
		padding: 0px;
		width: auto;
		width: 100vw;
		display: block;

	}
	#btn1 {
		margin: 0;
		margin: auto;
		margin-top: 1vh;
	}
	#btn2 {
		margin: 0;
		margin: auto;
		margin-top: 1vh;
	}
	#btn3 {
		margin: 0;
		margin: auto;
		margin-top: 1vh;
	}
	#btn4 {
		margin: 0;
		margin: auto;
		margin-top: 1vh;
	}
	#cat-head {
		width: 100vw;
		height: 5vh;
		margin: 1vh 0 1vh 0;
		padding-right: 2vw;
	}
	#category {
		width: 25vw;
		height: 5vh;
		margin-left: 2vw;
		margin-right: 12vw;
	}
	#category p{
		line-height: 5vh;
	}


	.progress-dot{
		height: 3vh;
		width: 3vh;
		margin-left: 2vw;
		margin-top: 1vh;

	}
	#ans1{
	}
	.question {
		width: 100vw;
		height: 42vh;
		margin-top: 0px;
	}
	#question-text {
		height: 10vh;
	}


	#question-img {
		width: 95vw;
		margin: auto;
		height: 25vh;
	}

	#question-img img {
		width: 99%;
		height: auto;
	}

	.answers {
		width: 100vw;
		height: 45vh;
		padding: 0 0 0 3vw;
	}

	.answers .btn {
		width: 94vw;
		height: 8vh;
	}
	.btn {
		line-height: 15vw;
	}

	.p-answer {
		margin: 0px;
	}




	/*Slut Index.html.erb*/


	/*Responsiv för startpage*/
	#startpage{
		width: 100vw;
		height: 100vh;
	}

	#play {
		width: 100vw;
		height: 41vh;
		padding: 3vw 0 3vw 0;
	}

	.btn-play-class {
		width: 100vw;
		height: 17vw;
	}
	.btn-play-class p {
		line-height: 17vw;

	}

	#btn-play-dig {
		margin-bottom: 1vh;
	}

	#btn-play-dig p {

	padding-left: 45vw;
	}


	#arrow {
		width: 33vw;
		height: 17.1vw;
		line-height: 17vw;
	}

	#current-games-head {
		width: 100vw;
		height: 10vh;
	}

	#current-games-head h3 {
		line-height: 10vh;
	}

	#current-games {
		width: 100vw;
		height: 40vw;
	}

	.c-game {
		width: 90vw;
		height: 14vw;
	}
	.c-game p {
		line-height: 3vw;
	}

	/*Resp. answer.html.erb*/





#summary-img{
	display: none;
}

	.answers .btn-after{
		width: 94vw;
		height: 5vh;
		line-height: 1vh;
		margin-left: 0px;
	}

	#btn1-after{
		margin-left: 0vw;

		box-shadow: none;

	}
	#btn2-after{
		margin-left: 0vw;

		box-shadow: none;
	}
	#btn3-after{
		margin-left: 0vw;

		box-shadow: none;
	}
	#btn4-after{
		margin-left: 0vw;

		box-shadow: none;
	}

	.answers #btn-next-q {
		width: 94vw;
		height: 17vw;
		margin-left: 0px;
		margin-top: 2vh;
		box-shadow: none;
	}
	#btn-next-q {
		box-shadow: none;
	}

	#btn-next-q p{
		line-height: 17vw;

	}

	.answer-col {
		width: 90vw;
		height: 28vh;
	}
	.summary {
		height: 38vh;
		width: 95vw;
		float: left;
		margin: 0px;
	}

  
	#answcol {
		display: none;
	}
	#question-answer{
		height: 42vh !important;
		position: relative;
	}

	#btn-save-aticle {
		width: 70vw;
		height: 7vh;
		margin: 1vw;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 10;
	}



	#article-btn{
		width: 30vw;
		height: 5vh;
		float: left;
		line-height: 1vh;
	}

	#display-answer{
		width: 100vw;

	}
	#display-answer h3 {
		width: 100%;
	}
	#summary-text {
		float: left;
		
		margin-top: 1vh;
	}

	#title {
		margin-bottom: 0px;
	}


	#save-btn {
		width: 30vw;
		height: 5vh;
		float: left;
		line-height: 1vh;
		margin-left: 2vw;
	}

	/*Resp. Result*/
	#result-question {
		width: 100vw;
		height: 75vh;
	}

	#result-question h3{
		font-size: 1em;
	}

	#result-dots{
		width: 80vw;
	}

	.result-dot {
		width: 9vw ;
		height: 9vw ;
		margin: 0 1.3vw 0 0 ;
	}

	#btn-finish {
		width: 94vw ;
		height: 17vw ;
	}

	#medal {

		height: 30vh;
		width: 40vw;
		margin-bottom: 15vh;

	}

	#result-text{
		margin-bottom: 3vh;
	}


}
